<div class="badge status" data-type="{{ type }}">
  <inline-svg
    src="images/icon-investment-none.svg"
    role="presentation"
    aria-hidden
    class="none"
  ></inline-svg>

  <inline-svg
    src="images/icon-investment-contribution.svg"
    role="presentation"
    aria-hidden
    class="contribution"
  ></inline-svg>

  <inline-svg
    src="images/icon-investment-angel.svg"
    role="presentation"
    aria-hidden
    class="angel"
  ></inline-svg>

  <inline-svg
    src="images/icon-investment-incubator.svg"
    role="presentation"
    aria-hidden
    class="incubator"
  ></inline-svg>

  <inline-svg
    src="images/icon-investment-tech-park.svg"
    role="presentation"
    aria-hidden
    class="tech-park"
  ></inline-svg>

  <span class="none">Sem investimento</span>
  <span class="contribution">Aporte ou subvenção</span>
  <span class="angel">Investimento anjo</span>
  <span class="incubator">Em incubadora</span>
  <span class="tech-park">Em parque tecnológico</span>
</div>
